:root {
  --background: #ffff;
  --fontColor: #282c34;
  --borderBottom: #eee;
}
[data-theme="dark"] {
  --background: #282c34;
  --fontColor: #ffff;
  --borderBottom: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type="file"] {
  display: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, segoe ui, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Poppins;
  src: url(font/Poppins.ttf);
}
